.ShowDiagnosis {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .doctorDetails,
  .doctorDiagnosis {
    flex: 1;
  }
  
  .doctorDetails {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .doctorDetails p {
    margin: 10px 0;
  }
  
  .doctorDetails strong {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .doctorDiagnosis {
    margin-left: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .doctorDiagnosis p {
    margin: 10px 0;
  }
  
  .doctorDiagnosis strong {
    font-weight: bold;
    margin-bottom: 5px;
  }
  